<h1>Areas::Programas#show</h1>
<p>Find me in app/views/areas/programas/show.html.erb</p>

<%= @programa.nombre %>
<%= link_to "Agregar Ficha", new_programa_curso_url, method: :get, class:
      "IndexArea"%>